*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    background-color: rgb(222, 222, 222);
}

/*------------
    NAV
-------------*/
.titulo{
    font-size: 40px;
}

.span-titulo{
    margin-left: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

i{
    margin-right: 8px;
}

.oculto{
    display: none;
}

#btn-balance:hover, #btn-categorias:hover, #btn-reportes:hover{
background-color: black;
}

#div-burger{
    background-color: white;
}

/* ----------------------------------
        SECTION DE BALANCE
---------------------------------- */
section{
    background-color: rgb(222, 222, 222);
    height: 100%;
}
.contenedor-section{
    margin-top: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.div-balance-filtros{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

h2{
    font-size: 30px;
    font-weight: 900;
}

p{
    font-size: 18px;
    font-weight: 600;
}
h3{
    font-size: 20px;
    font-weight: 700;
}

/* balance */
.div-balance{
    width: 100%;
}

.flex-contenedor{
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
}

.span-ganancias{
    color: green;
}

.span-gastos{
    color: red;
}

#total-bs{
    font-size: 21px;
}

.span-total{
    font-size: 18px;
    font-weight: 600;
}

/* filtro */
.div-filtro{
    width: 100%;
}


select, input{
    width: 100%;
    height: 24px;
    font-size: 15px;
    background-color: white;
    border: 1px solid rgb(199, 200, 199);
}


select:hover, input:hover{
    border: 1px solid rgb(153, 153, 153);
}

/* operaciones */
.contenedor-operaciones{
    max-height:550px;
    overflow: auto;
}

.titulo-operaciones{
    display: flex;
    justify-content: space-between;
}

.contenedor-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img{
    max-width: 400px;
}

.green{
    color: green;
    font-weight: 600;
}

.green::before{
    content: '+';
}

.red{
    color: red;
    font-weight: 600;
}

.red::before{
    content: '-';
}

/* + nueva operación */
.div-ope{
    display: flex;
    justify-content: center;
}

.contenedor-new-ope{
    margin-top: 50px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 2px 1.5px 3px rgb(198, 198, 198);
}

.panel-control{
    margin-top: 15px;
}

.btns-ope{
    display: flex;
    justify-content: right;
}
#btn-cancelar-ope{
    margin-right: 5px;
}
.nueva-operacion{
    display: flex;
    background-color: rgb(248, 248, 248);
    margin: 5px;
}

/* -----------------------------
    SECTION DE CATEGORÍA
----------------------------- */
.contenedor-categorias{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.div-categoria{
    margin-top: 50px;
    background-color: white;
    overflow: auto;
    max-height: 600px;
    border-radius: 10px;
    box-shadow: 1px 2px 1.5px 3px rgb(198, 198, 198);
}

.input-categorias{
   margin-right: 10px;
   height: 35px;
   padding: 4px;
}



/* ---------------------------
    SECTION DE REPORTES
---------------------------- */
.contenedor-reporte{
    display: flex;
    justify-content: center;
    height: 550px;
    padding: 10px;
}

.contenedor-hijo-reporte{
    margin-top: 50px;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
}

.contenedor-img-reporte{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

/*-------------------
    media query
-------------------*/

@media(max-width:1023px){
    .contenedor-section{
        display: block;
        margin-top: 10px;
    }
    body{
        height: 120vh;
    }
    #section-balance{
        width: 100%;
        padding: 10px;
    }
    .titulo{
        font-size: 25px;
    }
    .contenedor-operaciones{
        max-height: 450px;
    }
}

@media(max-width:560px){
    img{
        width: 240px;
    }
    h2{
        font-size: 25px;
    }
    body{
        height: 105vh;
    }
    .titulo-operaciones{
        display: block;
    }
    .btn-operacion{
        margin-top: 5px;
    }
    .contenedor-operaciones{
        max-height: 380px;
    }
}

@media(max-width:769px){
    .nueva-operacion{
        flex-wrap: wrap;
    }
}