*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
}

/*------------
    NAV
-------------*/
.titulo{
    font-size: 40px;
}

.span-titulo{
    margin-left: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

i{
    margin-right: 8px;
}

.oculto{
    display: none;
}

#div-burger{
    background-color: white;
}

/* ----------------------------------
        SECTION DE BALANCE
---------------------------------- */
section{
    background-color: rgb(222, 222, 222);
    height: 100%;
}
.contenedor-section{
    height: 100%;
    display: flex;
    justify-content: center;
}

.div-balance-filtros{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2{
    font-size: 30px;
    font-weight: 900;
}

p{
    font-size: 18px;
    font-weight: 600;
}
h3{
    font-size: 20px;
    font-weight: 700;
}

/* balance */
.div-balance{
    height: 33vh;
    background-color: white;
    border-radius: 5%;
    box-shadow: 1px 2.5px 3px 1.5px  rgb(177, 177, 177);
}

.flex-contenedor{
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
}

.span-ganancias{
    color: green;
}

.span-gastos{
    color: red;
}

#total-bs{
    font-size: 21px;
}

.span-total{
    font-size: 18px;
    font-weight: 600;
}

/* filtro */
.div-filtro{
    background-color: white;
    margin-top: 18px;
    height: 50vh;
    border-radius: 5%;
    box-shadow: 1px 2.5px 3px 1.5px  rgb(177, 177, 177);
}


select, input{
    width: 100%;
    height: 24px;
    font-size: 15px;
    background-color: white;
    border: 1px solid rgb(199, 200, 199);
}

select:hover, input:hover{
    border: 1px solid rgb(153, 153, 153);
}

/* operaciones */
.div-operaciones{
    margin-top: 22px;
    background-color: #ffffff;
    border-radius: 3%;
    box-shadow: 1px 1px 2px 2px rgb(177, 177, 177);
}

.titulo-operaciones{
    display: flex;
    justify-content: space-between;
}

.contenedor-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

img{
    max-width: 500px;
}

/* + nueva operación */
.div-ope{
    background-color: black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    /* display: none; */
}

.ocultar{
    display: none;
}
.contenedor-new-ope{
background-color: aqua;
}

/*-------------------
    media query
-------------------*/
@media(max-width:1023px){
    .titulo{
        font-size: 25px;
    }
}
